
img{
  height: 130px; 
  width: 130px;
  border-radius: 50%;
  border: 1px dashed red;
  animation: image 3s infinite;
  margin-left: 10px;
  margin-top: 50px;
  position:relative;
}
h3{
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
  background-image: linear-gradient(90deg,
  #ff0d0d,#0dff15,#f1ff0d,#0dffad,#0daaff,#430dff,#e90dff,#ff0d82
  );
  width: 100%;
  color: transparent;
  background-clip: text;
  animation: ani 29s infinite;
  
}
@keyframes ani{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 700px 0;
  }
}
h5{
  color: red;
}

@keyframes image{
  0%{
    box-shadow: 0px 0px 12px 4px #ff0d0d;
  }
  12%{
    box-shadow: 0px 0px 12px 4px #0dff15;
  }
  24%{
    box-shadow: 0px 0px 12px 4px #f1ff0d;
  }
  36%{
    box-shadow: 0px 0px 12px 4px #0dffad;
  }
  48%{
    box-shadow: 0px 0px 12px 4px #0daaff;
  }
  60%{
    box-shadow: 0px 0px 12px 4px #430dff;
  }
  42%{
    box-shadow: 0px 0px 12px 4px #a44aff;
  }
  84%{
    box-shadow: 0px 0px 12px 4px #ff0d82;
  }
  100%{
    box-shadow: 0px 0px 12px 4px #e90dff;
  }
}